:root {
    --gray-blue: #4770DB;
    --dark-blue: #0E1B4D;
    --light-gray: #EFF0F5;
    --light-blue: #D7F1F6;
    --white: #fff;
}

/* =============================================================
// Layout
// ============================================================*/
.container {
    width: calc(100vw - 200px);
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.w-half {
    width: 50%;
}

.w-full {
    width: 100%;
}

/* ==================================================================
// Text
// =================================================================*/
.text-gray-blue {
    color: var(--gray-blue);
}

.header-wrapper {
    background: var(--dark-blue);
}

.header--middle-left {
    grid-template-columns: auto 1fr auto;
    margin: 0 auto;
}

.header--middle-left .header__inline-menu {
    text-align: right;
}

.header__menu-item span {
    font-family: Sofia Pro;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: left;
    text-decoration: none;
}

.list-menu--inline {
    gap: 50px;
}

/* ==============================================================
// Custom button
// =============================================================*/
.btn {
    font-family: Sofia Pro;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.01em;
    border-radius: 60px;
    padding: 14px 25px;
    text-decoration: none;
    text-align: center;

}

.btn--default {
    background-color: var(--light-gray);
    color: var(--dark-blue);
}

.btn--gray-blue {
    background-color: var(--gray-blue);
    color: var(--white);
}

.btn--outline {
    border: 1.5px solid #0E1B4D;
    background: #fff;
    color: #0E1B4D;
}

/* ==============================================================
// Custom banner
// =============================================================*/
.custom-banner__media {
    display: flex;
    flex-direction: column;
}

.custom-banner--discount-wrapper {
    font-family: Sofia Pro;
    font-size: 65px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.01em;
    padding: 36px 106px 36px;
    background-color: var(--dark-blue);
    border-bottom-right-radius: 60px;
    color: var(--white);
}

.custom-banner--review {
    padding: 8rem 12rem;
    gap: 3rem;
}

.review--clients-number {
    font-family: Sofia Pro;
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.01em;
}

.review-rating {
    gap: 20px;
    align-items: center;
}

.heading {
    font-family: Sofia Pro;
    font-size: 60px;
    font-weight: 200;
    line-height: 70px;
    letter-spacing: 0.01em;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
}

.description {
    font-family: Sofia Pro;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.01em;
}

.feature-item {
    align-items: center;
    gap: 1rem;
}

.feature-item_description {
    font-family: Sofia Pro;
    font-size: 24px;
    font-weight: 200;
    line-height: 34px;
    letter-spacing: 0.01em;
}

.custom-banner_btn {
    padding: 1.5rem 7rem;
    text-transform: uppercase;
    font-weight: 800;
}

/* ========================================================
// Brand section
// =======================================================*/
.brand-section {
    align-items: center;
    gap: 8rem;
    padding: 10rem 8rem;
}

.brand-blocks {
    gap: 10rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.brand-blocks .brand-item {
    align-items: center;
    gap: 1rem;
}

.brand-blocks .brand-item span {
    font-family: Sofia Pro;
    font-size: 24px;
    font-weight: 200;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: center
}

.card__inner {
    border-radius: 30px;
}

.card__media .media {
    border-radius: 30px;
}

.grid__item-first {
    padding: 3.5rem !important;
    justify-content: space-between;
    align-items: start;
}

.grid__item-first span {
    font-family: Sofia Pro;
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: 0.01em;
    color: #0E1B4D;
}

.grid__item-first .btn {
    font-family: Sofia Pro;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.01em;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-button {
    position: absolute;
    top: 35%;
    background-color: #fff !important;
    border-radius: 50%;
}

.slider-button--next {
    right: 8rem;
}

.slider-button--prev {
    left: 8rem;
}

.slider-button:disabled {
    display: none;
}

.card__heading {
    font-family: Sofia Pro;
    font-size: 2rem;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: var(--dark-blue);
}

.price-item--regular {
    color: var(--dark-blue);
}

.card-product__url {
    font-family: Sofia Pro;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: right;
    color: var(--dark-blue);
}


/* ====================================================
// Custom Feature Carousel
// ===================================================*/
.feature-slide__heading {
    position: absolute;
    top: 80px;
    z-index: 10;
    width: 100%;
    text-align: center;
}

.slide__feature-wrapper {
    position: absolute;
    top: 25%;
    z-index: 10;
    width: 100%;
    padding-left: 12rem;
    padding-right: 12rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 50px;
}

.slide__feature-item__heading {
    font-family: Sofia Pro;
    font-size: 32px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: white;
}

.slide__feature-item__description {
    font-family: Sofia Pro;
    font-size: 24px;
    font-weight: 200;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: white;
}