:root {
    --gray-blue: #4770DB;
    --dark-blue: #0E1B4D;
    --light-gray: #EFF0F5;
    --light-blue: #D7F1F6;
}

.header-wrapper {
    background: var(--dark-blue);
}

.header--middle-left {
    grid-template-columns: auto 1fr auto;
}

.header--middle-left .header__inline-menu {
    text-align: right;
}

.header__menu-item span {
    font-family: Sofia Pro;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: left;
    text-decoration: none;
}

.list-menu--inline {
    gap: 74px;
}